Div{
    background-color: gold;

    height: 200px;
    width: 800px;
    margin: 20px;
}

p{
    color: blue;
}

.c2{
    background-color: rgb(43, 255, 0);

}

.p3{
     color: brown;
}
